
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-22px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  

  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  















